---
import Layout from '../../layouts/Base.astro';
import client from '../../lib/sanityClient';
import { getLocale } from '../../utils/getLocale';
import OptimizedImage from '../../components/OptimizedImage.astro';

export async function getStaticPaths() {
  return ['en', 'ko', 'zh'].map(lang => ({ params: { lang } }));
}

const { lang } = Astro.params;
const locale = getLocale(lang);

const pageDetails = await client.fetch(`*[_type == "page" && _id == "a0943009-62ff-4fb0-8de0-6e8c62288528"][0]{
  title, subtitle, description, metaTitle, metaDescription, metaKeywords, mainImageAlt,
  mainImage { asset->{url} }
}`);

const experienceUnique = await client.fetch(`*[_type == "experienceUnique"] | order(order asc){
  "slug": slug.current, title, excerpt, secondImage { asset->{url} }, secondImageAlt
}`);

const title = pageDetails?.metaTitle?.[locale] ?? '';
const description = pageDetails?.metaDescription?.[locale] ?? '';
const url = new URL(Astro.request.url).href;
const ogImage = pageDetails.mainImage?.asset?.url ?? '';
const keywords = pageDetails.metaKeywords?.[locale] ?? '';
---

<Layout {title} {description} {url} {ogImage} {keywords}>
  <section class="relative w-full h-[50vh] md:h-[60vh] lg:h-[75vh] overflow-hidden">
    <OptimizedImage
      src={pageDetails.mainImage?.asset?.url}
      alt={pageDetails.mainImageAlt?.[locale] ?? ''}
      width={1600} height={900} quality={75}
      className="w-full h-full object-cover"
    />
    <div class="absolute inset-0 bg-black/25 z-20"></div>
  </section>

  <section class="container mx-auto px-4 py-16 md:py-24">
    <div class="text-center px-2 sm:px-6 md:px-8 mx-auto">
      <h1 class="font-title text-3xl sm:text-4xl md:text-5xl uppercase mb-4 md:mb-6 tracking-widest font-light">
        {pageDetails?.title?.[locale] ?? ''}
      </h1>
      <p class="mb-12 md:mb-18 text-lg">
        {pageDetails?.description?.[locale] ?? ''}
      </p>
    </div>
  </section>

  <section class="container mx-auto px-4 space-y-18">
    <div id="experienceUnique-carousel" class="splide mb-8 md:mb-12" role="region" aria-label="experienceUnique Carousel">
      <div class="splide__track">
        <div class="splide__list">
          {experienceUnique.map((data, i) => (
            <div class="splide__slide transition-transform duration-500 ease-in-out" role="group" aria-roledescription="slide" aria-label={`${i + 1} of ${experienceUnique.length}`}>
              <div class="bg-white overflow-hidden flex flex-col h-full">
                <OptimizedImage
                  src={data.secondImage.asset.url}
                  alt={data.secondImageAlt?.[locale]}
                  width={800} height={600} quality={75} loading="lazy"
                  className="w-full h-auto aspect-[4/3] md:aspect-[16/9] 2xl:aspect-[4/3] transition duration-500"
                />
                <div class="py-4 md:py-6 flex flex-col flex-1">
                  <h3 class="text-lg tracking-widest uppercase font-title">{data?.title?.[locale] ?? ''}</h3>
                  <p class="mt-2 text-lg">{data?.excerpt?.[locale] ?? ''}</p>
                  <div class="flex-grow"></div>
                  <a href={`/${locale}/experience/${data.slug}`} class="text-lg mt-4 inline-block text-gray-700 uppercase">Details</a>
                </div>
              </div>
            </div>
          ))}
        </div>
      </div>
    </div>
    <div class="flex items-center gap-4 md:gap-6 mt-4 md:mt-8 justify-center md:hidden">
      <button aria-label="Previous experienceUnique Slide" id="experienceUnique-prev" class="w-10 h-10 md:w-12 md:h-12 flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="20" viewBox="0 0 48 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="44" y1="12" x2="4" y2="12" /><polyline points="12 20 4 12 12 4" /></svg>
      </button>
      <button aria-label="Next experienceUnique Slide" id="experienceUnique-next" class="w-10 h-10 md:w-12 md:h-12 flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="20" viewBox="0 0 48 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="4" y1="12" x2="44" y2="12" /><polyline points="36 4 44 12 36 20" /></svg>
      </button>
    </div>
  </section>

  <script>
    import "@splidejs/splide/css";
    import Splide from "@splidejs/splide";
    [
      {
        id: "#experienceUnique-carousel", prev: "experienceUnique-prev", next: "experienceUnique-next",
        options: { type: "slide", perPage: 3, gap: "4rem", speed: 800, easing: "ease-in-out", arrows: false, pagination: false, breakpoints: { 1366: { gap: "2rem"}, 1024: { gap: "2rem", perPage: 2 }, 768: { perPage: 1, gap: "2rem" }, 640: { perPage: 1 } } }
      },
    ].forEach(({ id, prev, next, options }) => {
      const splide = new Splide(id, options);
      splide.on('mounted move', () => {
        const prevBtn = document.getElementById(prev), nextBtn = document.getElementById(next);
        prevBtn.disabled = splide.index === 0;
        prevBtn.classList.toggle('opacity-30', splide.index === 0);
        prevBtn.classList.toggle('cursor-not-allowed', splide.index === 0);
        nextBtn.disabled = splide.index >= splide.length - splide.options.perPage;
        nextBtn.classList.toggle('opacity-30', splide.index >= splide.length - splide.options.perPage);
        nextBtn.classList.toggle('cursor-not-allowed', splide.index >= splide.length - splide.options.perPage);
      });
      splide.mount();
      document.getElementById(prev).onclick = () => splide.go("<");
      document.getElementById(next).onclick = () => splide.go(">");
    });
  </script>
</Layout>
