---
import "../styles/global.css";
import Navbar from '../components/Navbar.astro';
import SpeedInsights from "@vercel/speed-insights/astro";
import Analytics from '@vercel/analytics/astro';
import "@splidejs/splide/dist/css/splide.min.css";

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content="https://www.kamandaluubud.com/" />
    <meta property="og:image" content="https://picsum.photos/id/1015/1600/900" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="https://picsum.photos/id/1015/1600/900" />

    <!-- Canonical URL -->
    <link rel="canonical" href="https://www.kamandaluubud.com/" />

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <SpeedInsights />
    <Analytics />
  </head>
  <body class="font-body text-xl">
    <Navbar />

    <main>
      <slot />
    </main>

    <footer class="bg-gray-800 text-white py-4 text-center">
      <p>&copy; 2025 Our Luxury Hotel. All Rights Reserved.</p>
    </footer>

    <script type="module" src="/src/scripts/splide-init.js"></script>
  </body>
</html>
